@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500;0,700;1,400;1,900&display=swap');
:root{
    --white: #E8E5E5;
    --black: #0C1618;
    --accent: #bc3c14;
    --btn: #D9D9D9;
    --deep_black: #000000;
    --button_size:1.5vw;
    --text_size:2rem;
    --rows:1fr;
    --columns: 1fr 1fr 2fr;;
    --top:90%;
    --left:90%;
}


*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;

}

body{
    background-color: var(--deep_black);
    height: 100vh;

}

h1{
    font-family: 'Oswald';
    font-size: var(--text_size);

}

h2{
    font-weight: 900;

}



p{
    font-size: var(--text_size);
    font-weight: 300;
    text-decoration: none;
    


}

u{
    font-weight: 500;



}


ul{
    margin: 0;
    padding: 0;
    text-decoration: none;
    
}

li{
    list-style: none;

}

a{
    text-decoration: none;
    list-style: none;
    color: var(--black);

}

.div{

    background-color: var(--white);
    position: fixed;
    width: 100vw;
    height: 100vh;
    color:var(--black);

    display: grid;
    grid-template-rows: var(--rows);
    grid-template-columns: var(--columns);
   
}

.div div{
    padding:2rem;
    border-left: solid var(--black);
    border-width:0.2rem;


}



button{
    border-radius: 1rem;
    border:none;
    font-size:10rem;
    background-color: var(--accent);
    color:var(--btn);
}

.para h1{
    font-size: minmax(1rem,2rem);
}

@media screen and (max-width: 1100px) {
    :root{
        --white: #E8E5E5;
        --black: #0C1618;
        --accent: #bc3c14;
        --btn: #D9D9D9;
        --deep_black: #000000;
        --button_size:1.5vw;
        --text_size:2rem;
        --columns:minmax(0, 1fr);
        --rows: 0.5fr 0.5fr 2fr;
        --top:0;
        --left:85%;
        
    }
}

@media screen and (max-width: 500px) {

}