@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --red:#FF312E;
    --yellow:#FECF70;
    --black:#0B110E;
    --white:#FEFCFB;
    --background:#fde9e5;
    --faded_yellow: rgba(254, 207, 112, 0.1);
    --faded_yellow-increased:rgba(254, 207, 112, 0.4);
    --radius_nav: 0.9rem;
    --button_text_size:1.5rem;
    --button_text_size_:1.7rem;
    --padding_increase:2rem;
    --h3_text_size:2rem;
    --div_sizewm: 60vw;
    --div_sizehm: 60vh;
    --div_sizewma: 90vw;
    --div_sizehma: 90vh;
}


*{
    padding:none;
    margin:none; 
    font-family: 'Roboto', sans-serif;
    font-weight: 483;
    color:var(--black);

}

body{
    background-color: var(--background);
    overflow:hidden;

}


.main{
    position: absolute;
}

.blob{
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 49, 46, 0.678) ,#fecf70a5);     
  aspect-ratio: 1;
  position: absolute;
  min-width:var(--div_sizewm);
  min-height:var(--div_sizehm);
  max-width:var(--div_sizewma);
  max-height:var(--div_sizehma);
  filter: blur(20rem);
  animation: 50s infinite rot linear;

}

@keyframes rot {
  from { transform:rotate(0deg);}
  to {   transform:rotate(360deg);}

}


.blob_filter{
  position: absolute;
  width: 100%;
  height: 100%;
  align-items: center;
  z-index: -100;
  display:flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}


h2{
    font-weight: 900;
    font-size: 2rem;
    position: absolute;
    font-family: 'Roboto Flex';

}

a{
    font-style: italic;
    text-decoration: underline;
    font-size: 1.3rem;
}

#homebar{
    position: absolute;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100%;
}

#homebar h2{
    font-family: 'Rubik';
    font-size: 7rem;
    position: relative;
    word-break: break-word;
}

#homebar .nav{
    position: absolute;
}

.center{
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    column-gap: 0.5rem;
}

/*
Nav bar elements
*/


.nav{
    display: flex;
    width:90%;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    
}

nav[data-variant="extra"]{
    padding:5rem;
}

nav{
    background-color: var(--faded_yellow-increased);
    border-radius: var(--radius_nav);
    display: flex;
    padding:0.3rem;
    column-gap: 0.3rem;
}

nav[data-variant="hide"]{
  border:none;
  padding:0;
  column-gap: 0.2rem;
  background-color: transparent;

}

.nav nav{
    margin-left: auto;
}


/*
button variants and 
*/
button,button:target{
    border:solid;
    background-color: transparent;
    border-color: var(--yellow);
    border-radius: var(--radius_nav);
    font-size:var(--button_text_size);
    padding:0.7rem;
    flex-grow: 1;
    transition: font-size 0.1s ease-out 50ms;
    background-repeat: no-repeat;
    background-position: center; 


}

nav button:hover{

    font-size:var(--button_text_size_);
    overflow-wrap: break-word;
    text-transform: capitalize;
    font-weight: 900;

}



button[data-variant="home"]{
    background-color: transparent;
    border-color: var(--red);
    background-image: url("home2.svg");
    background-repeat: no-repeat;
    background-position: center; 
    padding-left:1.7rem;
    padding-right: 1.7rem;
}

button[data-variant="git"]{
    background-color: var(--black);
    border-color: var(--black);
    background-image: url(git.svg);
    padding:2rem;
}

button[data-variant="arrow"]{
    border-color: var(--white);
    background-image: url(arrow.svg);
    padding:2rem;

}

.blog{
    font-family: Rubik;
    font-size: 900;
    aspect-ratio: 1/1;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 2rem;
    background-image: url(B.svg);
}


.git{
    background-image: url(git2.svg);
    background-repeat: no-repeat;
    background-position: center; 
    aspect-ratio: 1/1;
    padding: 2rem;


}

/*
ABOUT ME
*/

#aboutbar{
    position: absolute;
    background-color: var(--faded_yellow-increased);
    border-radius: var(--radius_nav);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    padding: 2rem;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:80%;

}

#aboutbar div{
    border:solid;
    border-color: var(--white);
    border-radius: var(--radius_nav);
    padding: 1rem;
}

#aboutbar div[data-variant="Who"]{
    border-color: var(--red);

}

h1{
    font-weight: 900;  
}


p{
    font-size: 1.7rem;
}

/*
PROJECTS
*/

#projectsbar{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 2rem;
    column-gap: 0.5rem;
}



#projectsbar .p_holder{
    border: solid;
    border-radius: var(--radius_nav);
    border-color: var(--white);
    display:grid;
    background-color: #fecf702a;
    padding:0.5rem;
}

.p_holder > div:first-child{
    background-color: var(--yellow);
    border-radius: var(--radius_nav) var(--radius_nav) 0 0;
    position: relative;
    text-align: center;

}

.p_holder h3{
    color:var(--red);
    font-weight: 900;
    font-size: xx-large;
    padding:1rem;
    text-decoration: underline;


}

.p_holder > div:nth-of-type(2){
    border: solid;
    border-color: var(--red);
    border-top: none;
    border-radius: 0 0 var(--radius_nav) var(--radius_nav);
    padding:1rem;
}