/*
Intial Commands
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --red:#FF312E;
    --yellow:#FECF70;
    --black:#0B110E;
    --white:#FEFCFB;
    --background:#fde9e5;
    --faded_yellow: rgba(254, 207, 112, 0.1);
    --faded_yellow-increased:rgba(254, 207, 112, 0.4);
    --radius_nav: 0.9rem;
    --button_text_size:1.5rem;
    --button_text_size_:1.7rem;
    --padding_increase:2rem;
    --h3_text_size:2rem;
    --div_sizewm: 60vw;
    --div_sizehm: 60vh;
    --div_sizewma: 90vw;
    --div_sizehma: 90vh;
}


*{
    padding:none;
    margin:none; 
    font-family: 'Roboto', sans-serif;
    font-weight: 483;
    color:var(--black);

}

/*
Background stuff
*/

body{
    background-color: var(--background);
    overflow: hidden;
}

.blob_center{
    display: flex;
    justify-content: center;
    align-self: center;

}

.blob{
  border-radius: 50%;
  background: linear-gradient(0deg, rgba(255, 49, 46, 0.678) ,#fecf70a5);     
  position: fixed;
  min-width:var(--div_sizewm);
  min-height:var(--div_sizehm);
  max-width:var(--div_sizewma);
  max-height:var(--div_sizehma);
  filter: blur(20rem);
  animation: 60s infinite rot linear;
  aspect-ratio: 3/1;
  z-index: -100;
}

@keyframes rot {
  from { transform:rotate(0deg);}
  to {   transform:rotate(360deg);}

}

.elements{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    width:90%;
    display: flex;
    flex-direction: column;
    row-gap: 5vh;

}

.elements[data-variant="p"]{
    height: fit-content;
}

/*
Home Page
*/


/* Logo size */
h2{
    font-weight: 900;
    font-family: 'Roboto Flex';
    font-size: 2rem;
    margin: 0;
}

/*  I like building beautifully and simply designed apps and webpages. Type */

a{
    font-style: italic;
    text-decoration: underline;
    font-size: 1.3rem;
}

/* centers type elements on home page */


#homebar{
    text-align: center;
    /* width: 100%;
    height: 100%; */
}

/* A Developer of things Type*/

#homebar h2{
    font-family: 'Rubik';
    position: relative;
    word-break: break-word;
    font-size: 9vw;
}



/*
Nav bar elements
*/

.pad{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    margin: auto;
    z-index: 100;
    top:90vh;
    justify-self: center;
}

nav{
    border-radius: var(--radius_nav);
    display: flex;
    text-align: center;
    height: 4rem;
    row-gap: 3rem;
    column-gap:.3rem;
    z-index: 100;
    width:fit-content;
    justify-self: center;
}

nav[data-variant="logo"]{
    background-color: transparent;
    text-align: center;
    font-size: minmax(1px,1.3rem);

}

nav[data-variant="hide"]{
  border:none;
  padding:0;
  background-color: transparent;

}



/*
button variants and other things
*/
button,button:target{
    border:solid;
    background-color: transparent;
    border-color: var(--yellow);
    border-radius: var(--radius_nav);
    font-size:var(--button_text_size);
    padding:0.7rem;
    transition: font-size 0.1s ease-out 50ms,background-color 0.3s ease-out 50ms, background-image 0.3s ease-out 50ms;
    background-repeat: no-repeat;
    background-position: center; 
    text-align: center;
    color:var(--black);
}

nav button:hover{

    font-size:var(--button_text_size_);
    overflow-wrap: break-word;
    text-transform: capitalize;
    font-weight: 900;
    background-color: var(--yellow);

}



button[data-variant="home"]{
    background-color: transparent;
    border-color: var(--red);
    background-image: url("home2.svg");
    background-repeat: no-repeat;
    background-position: center; 
    padding-left:1.7rem;
    padding-right: 1.7rem;
    background-color: transparent;
}

button[data-variant="home"]:hover{
    background-image: url(home.svg);
    background-color: var(--red);
}

button[data-variant="home2"]{
    display: none;
    background-color: transparent;
    border-color: var(--red);
    background-image: url("home2.svg");
    background-repeat: no-repeat;
    background-position: center; 
    padding-left:1.7rem;
    padding-right: 1.7rem;
    background-color: transparent;
}

button[data-variant="home2"]:hover{
    background-image: url(home.svg);
    background-color: var(--red);
}

.pbutton{
    display:flex;
    column-gap: 0.5rem;
    padding: 1rem;
}

button[data-variant="git"]{
    background-color: var(--black);
    border-color: var(--black);
    background-image: url(git.svg);
    padding:2rem;
    width:100%;
}

button[data-variant="arrow"]{
    border-color: var(--white);
    background-image: url(arrow.svg);
    padding:2rem;
    width:100%;
    transition:  background-position 0.4s ease-out 50ms;

}

button[data-variant="arrow"]:hover{
    background-attachment: fixed;
    background-position: 30%;
}

button[data-variant="blog"]{
    font-family: Rubik;
    font-size: 900;
    aspect-ratio: 1/1;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 2rem;
    background-image: url(B.svg);
    border:none;
}


button[data-variant="git2"]{
    background-image: url(git2.svg);
    background-repeat: no-repeat;
    background-position: center; 
    aspect-ratio: 1/1;
    padding: 2rem;
    border:none;

}


button[data-variant="ham"]{
    display:none;
    aspect-ratio: 1/1;

}

button[data-variant="ham"] div{
    background-color: var(--white);
    border-color: var(--background);
    width:2rem;
    height: 0.2rem;
    border-radius: 10rem;

}


button[data-variant="about"]{
    display:none;
}

button[data-variant="theme"]{
    display:none;
}


button[data-variant="projects"]{
    display:none;
}



button[data-variant="logo"]{
    border:none;
}

nav button[data-variant="logo"]:hover{

    background-color: transparent;

}
/*
ABOUT ME
*/

#aboutbar{
    display: grid;
    grid-template-columns: repeat(3, minmax(30%, 1fr));
    column-gap: 0.3rem;
    row-gap: 0.3rem;
    padding: 2rem;
}

#aboutbar div{
    border:solid;
    border-color: var(--white);
    border-radius: var(--radius_nav);
    padding: 1rem;

}

#aboutbar div[data-variant="Who"]{
    border-color: var(--red);

}

h1{
    font-weight: 900;  
}


p{
    font-size: 1.7rem;
}

/*
PROJECTS
*/

#projectsbar{
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar; 
    column-gap: 2rem;
    scroll-snap-type: x proximity;
}



#projectsbar .p_holder{
    border: solid;
    border-radius: var(--radius_nav);
    border-color: var(--white);
    display:flex;
    background-color: #fecf702a;
    padding:0.5rem;
    flex-direction: column;
    height:30%;
    flex: 0 0 auto; 
    width:30vw;
    height: fit-content;
    scroll-snap-align: start;

}

.p_holder > div:first-child{
    background-color: var(--yellow);
    border-radius: var(--radius_nav) var(--radius_nav) 0 0;
    text-align: center;

}

.p_holder h3{
    color:var(--red);
    font-weight: 900;
    font-size: xx-large;
    padding-left:1rem;
    padding-right:1rem;

    text-decoration: underline;


}

.p_holder > div:nth-of-type(2){
    border: solid;
    border-color: var(--red);
    border-top: none;
    border-radius: 0 0 var(--radius_nav) var(--radius_nav);
    padding:1rem;
}


@media (max-width:940px){

    .elements{
        row-gap: 0;


    }

    #projectsbar .p_holder{
        flex-direction: row;
    
    }

    #aboutbar{

        grid-template-rows: repeat(3, minmax(30%, 1fr));
        grid-template-columns: none;
        height: 60vh;
        padding:1rem;
        text-align: center;
        column-gap: 0rem;
        row-gap: 0rem;
    }
    
    #aboutbar div{

        padding: 0rem;
        height: fit-content;
    
    }


    #homebar h2{
        font-family: 'Rubik';
        position: relative;
        word-break: break-word;
        font-size: 12vw;
        line-break: strict;
    }
    

    

    nav[data-variant="hide"]{

        display:none;
    }


    nav[data-variant="logo"]{
        display:none;
    
    }

    button[data-variant="home2"]{
        display:block;
    }
    



    

    #projectsbar{
        display:grid;
        grid-template-columns: 1fr;
        column-gap: 0.5rem; 
        padding:1rem;
    } 

    button[data-variant="blog"]{
        display:none;
    }
    
    
    button[data-variant="git2"]{
        display: none;
    
    }

    button[data-variant="git"]{
        border-radius: 5rem;
        padding:0rem;
        aspect-ratio: 1/1;
        width:30%;
    }
    
    button[data-variant="arrow"]{
        display: none;
    
    }
    
    button[data-variant="arrow"]:hover{
        background-attachment: fixed;
        background-position: 30%;
    }

    button[data-variant="about"]{
        background-image: url(person.svg);
        aspect-ratio: 1/1;
        transition: background-image 0.1 ease-in 50ms,background-color 0.1 ease-in 50ms;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%; 
        padding:1.7rem;
        display: block;

    }
    
    button[data-variant="about"]:hover{
        background-image: url(person2.svg);
    }

    button[data-variant="theme"]{
        background-image: url(sun.svg);
        aspect-ratio: 1/1;
        transition: background-image 0.1 ease-in 50ms,background-color 0.1 ease-in 50ms;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 70%; 
        padding:1.7rem;
        display: block;
    }
    
    button[data-variant="theme"]:hover{
        background-image: url(moonl.svg);
    }

    button[data-variant="projects"]{
        display:block;
        background-image: url(projects.svg);
        aspect-ratio: 1/1;
        transition: background-image 0.1 ease-in 50ms,background-color 0.1 ease-in 50ms;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 80%; 
        padding:1.7rem;
        display: block;
    }

    button[data-varinat="projects"]:hover{
        background-image: url(projects2.svg);
    }

    #aboutbar p{
  
    
        font-size: 1rem;
    }

    #aboutbar h1{
        font-size: 1.7rem;
    }



    .p_holder > div:first-child{
        border-radius: var(--radius_nav) 0 0 var(--radius_nav) ;
    
    }
    
    .p_holder > div:nth-of-type(2){
        border-top:solid;
        border-color: var(--red);
        border-radius: 0 var(--radius_nav) var(--radius_nav) 0;

    }

    .pad{
        height: 100%;
    }

}