@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

:root{
    --red:#FF312E;
    --yellow:#FECF70;
    --black:#0B110E;
    --white:#FEFCFB;
    --faded_yellow: rgba(254, 207, 112, 0.1);
    --faded_yellow-increased:rgba(254, 207, 112, 0.4);
    --radius_nav: 0.9rem;
    --button_text_size:1.5rem;
    --padding_increase:2rem;
}

*{
    padding:none;
    margin:none; 
    font-family: 'Roboto';
}

body{
    background-color: var(--white);
}

nav{
    background-color: var(--faded_yellow-increased);
    border-radius: var(--radius_nav);
    display: flex;
    padding:0.3rem;
    column-gap: 0.3rem;
}

button{
    background-color: var(--yellow);
    border:none;
    border-radius: var(--radius_nav);
    font-size:var(--button_text_size);
    padding:0.7rem;
    flex-grow: 1;
}

button:hover{
    padding-left:20rem;
    padding-right: 20rem;

}

button[data-variant="home"]{
    background-color: var(--red);
    background-image: url("home2.svg");
    background-repeat: no-repeat;
    background-position: center; 
}